.movieArea{
    
    margin:  30px;
    float : left;
    
    


}



.imagem{
    
    border: 5px  solid rgb(194, 150, 150);
    border-radius: 40px;
}


.tituloFilme {
    text-align: center;
    width: 230px;
    height: 25px;
    
    
}

/* unvisited link */
a:link {
    color : white;
    text-decoration: none;
    outline: none;
}


/* visited link */
a:visited {
    color: white;
    text-decoration: none;
    outline: none;
}


/* mouse over link */
a:hover {
    color: blue;
    text-decoration: none;
    border: none;
    outline: none;
}


/* selected link */
a:active {
    
    text-decoration: none;
    border: none;
    outline: none;
    
}

div{
    text-decoration: none;
    border: none;
    outline: none;
}



.filme{
    height: 350px;
    width: 250px;
    padding: 10px;
    margin: 50px;
    border: none;
    
}