       

    <div class="container ">
        <div  *ngFor="let film of filmes.results">
            
            <div class="col-lg-3 movieArea">
            <div class="row" >
            <a routerLink="/filmes/{{film.id}}"  routerLinkActive="active">
                    <img class="imagem" src="https://image.tmdb.org/t/p/w200{{film.poster_path}}">
                    <span class="tituloFilme row">{{ film.title }}</span>
            </a>
            </div>
            
            
            </div>
        
        </div>
    </div>

