.movieArea{
    
    margin:  30px;
    float : left;
    
    


}



.imagem{
    
    border: 5px  solid rgb(194, 150, 150);
    border-radius: 40px;
}


.tituloFilme {
    text-align: center;
    width: 230px;
    height: 25px;
    
    
}

/* unvisited link */
a:link {
    color: red;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color:orange
}

.filme{
    height: 350px;
    width: 250px;
    padding: 10px;
    margin: 50px;
    
}