.movieArea{
    
    margin:  30px;
    float : left;
    


}

.imagem{
    
    border: 3px  solid rgb(36, 34, 34);
    border-radius: 10px;
}


.tituloFilme {
    text-align: center;
    
    
    
}